In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_boston

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as mtr
#from sklearn.metrics import r2_score
#from sklearn.metrics import mean_squared_error
#from sklearn.metrics import mean_absolute_error

## 6. Обучение с учителем

### Задание 1<br>
__1.1__ Импортируйте библиотеки ```pandas``` и ```numpy```.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки ```sklearn```. Создайте датафреймы ```X``` и ```y``` из этих данных.

__Решение:__<br>

In [4]:
boston = load_boston()

In [5]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
X.shape

(506, 13)

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [8]:
y = pd.DataFrame(boston.target, columns=['target'])
y.head()

   target
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

In [9]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

__1.2__ Разбейте эти датафреймы на тренировочные ```(X_train, y_train)``` и тестовые ```X_test, y_test)``` с помощью функции ```train_test_split``` так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент ```random_state``` должен быть равен 42.

__Решение:__<br>

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
116,0.13158,0.0,10.01,0.0,0.547,6.176,72.5,2.7301,6.0,432.0,17.8,393.30,12.04
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
468,15.57570,0.0,18.10,0.0,0.580,5.926,71.0,2.9084,24.0,666.0,20.2,368.74,18.13

__1.3__ Создайте модель линейной регрессии под названием ```lr``` с помощью класса ```LinearRegression``` из модуля ```sklearn.linear_model```.

__Решение:__<br>

In [12]:
lr = LinearRegression()

__1.4__ Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите ```R2``` полученных предказаний с помощью ```r2_score``` из модуля ```sklearn.metrics```.

__Решение:__<br>

In [13]:
lr.fit(X_train, y_train)

LinearRegression()

In [14]:
y_pred_lr = lr.predict(X_test)
y_pred_lr

array([[28.64896005],
       [36.49501384],
       [15.4111932 ],
       [25.40321303],
       [18.85527988],
       [23.14668944],
       [17.3921241 ],
       [14.07859899],
       [23.03692679],
       [20.59943345],
       [24.82286159],
       [18.53057049],
       [-6.86543527],
       [21.80172334],
       [19.22571177],
       [26.19191985],
       [20.27733882],
       [ 5.61596432],
       [40.44887974],
       [17.57695918],
       [27.44319095],
       [30.1715964 ],
       [10.94055823],
       [24.02083139],
       [18.07693812],
       [15.934748  ],
       [23.12614028],
       [14.56052142],
       [22.33482544],
       [19.3257627 ],
       [22.16564973],
       [25.19476081],
       [25.31372473],
       [18.51345025],
       [16.6223286 ],
       [17.50268505],
       [30.94992991],
       [20.19201752],
       [23.90440431],
       [24.86975466],
       [13.93767876],
       [31.82504715],
       [42.56978796],
       [17.62323805],
       [27.01963242],
       [17.19006621],
       [13.80594006],
       [26.10356557],
       [20.31516118],
       [30.08649576],
       [21.3124053 ],
       [34.15739602],
       [15.60444981],
       [26.11247588],
       [39.31613646],
       [22.99282065],
       [18.95764781],
       [33.05555669],
       [24.85114223],
       [12.91729352],
       [22.68101452],
       [30.80336295],
       [31.63522027],
       [16.29833689],
       [21.07379993],
       [16.57699669],
       [20.36362023],
       [26.15615896],
       [31.06833034],
       [11.98679953],
       [20.42550472],
       [27.55676301],
       [10.94316981],
       [16.82660609],
       [23.92909733],
       [ 5.28065815],
       [21.43504661],
       [41.33684993],
       [18.22211675],
       [ 9.48269245],
       [21.19857446],
       [12.95001331],
       [21.64822797],
       [ 9.3845568 ],
       [23.06060014],
       [31.95762512],
       [19.16662892],
       [25.59942257],
       [29.35043558],
       [20.13138581],
       [25.57297369],
       [ 5.42970803],
       [20.23169356],
       [15.1949595 ],
       [14.03241742],
       [20.91078077],
       [24.82249135],
       [-0.47712079],
       [13.70520524],
       [15.69525576],
       [22.06972676],
       [24.64152943],
       [10.7382866 ],
       [19.68622564],
       [23.63678009],
       [12.07974981],
       [18.47894211],
       [25.52713393],
       [20.93461307],
       [24.6955941 ],
       [ 7.59054562],
       [19.01046053],
       [21.9444339 ],
       [27.22319977],
       [32.18608828],
       [15.27826455],
       [34.39190421],
       [12.96314168],
       [21.01681316],
       [28.57880911],
       [15.86300844],
       [24.85124135],
       [ 3.37937111],
       [23.90465773],
       [25.81792146],
       [23.11020547],
       [25.33489201],
       [33.35545176],
       [20.60724498],
       [38.4772665 ],
       [13.97398533],
       [25.21923987],
       [17.80946626],
       [20.63437371],
       [ 9.80267398],
       [21.07953576],
       [22.3378417 ],
       [32.32381854],
       [31.48694863],
       [15.46621287],
       [16.86242766],
       [28.99330526],
       [24.95467894],
       [16.73633557],
       [ 6.12858395],
       [26.65990044],
       [23.34007187],
       [17.40367164],
       [13.38594123],
       [39.98342478],
       [16.68286302],
       [18.28561759]])

In [15]:
check_test = pd.DataFrame({
    "y_test": y_test['target'],
    "y_pred_lr": y_pred_lr.flatten(),
})

check_test.head(10)

     y_test  y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [16]:
check_test["error"] = check_test["y_pred_lr"] - check_test["y_test"]

check_test.head()

     y_test  y_pred_lr     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [17]:
# print(f'Точность предсказания: {mtr.accuracy_score(y_test, y_pred_lr)}')

In [18]:
print(f'Коэффициент детерминации R^2: {mtr.r2_score(y_test, y_pred_lr)}')
print(f'Cредняя квадратическая ошибка 𝜎: {mtr.mean_squared_error(check_test["y_pred_lr"], check_test["y_test"])}')
print(f'Cредняя абсолютная ошибка: {mtr.mean_absolute_error(check_test["y_pred_lr"], check_test["y_test"])}')

Коэффициент детерминации R^2: 0.711226005748496
Cредняя квадратическая ошибка 𝜎: 21.517444231176995
Cредняя абсолютная ошибка: 3.1627098714573783

### Задание 2<br>
__2.1__ Создайте модель под названием ```model``` с помощью ```RandomForestRegressor``` из модуля ```sklearn.ensemble```. Сделайте агрумент ```n_estimators``` равным 1000, ```max_depth``` должен быть равен 12 и ```random_state``` сделайте равным 42.

__Решение:__<br>

In [19]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

__2.2__ Обучите модель на тренировочных данных аналогично тому, как вы обучали модель ```LinearRegression```, но при этом в метод ```fit``` вместо датафрейма ```y_train``` поставьте ```y_train.values[:, 0]```, чтобы получить из датафрейма одномерный массив ```Numpy```, так как для класса ```RandomForestRegressor``` в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

__Решение:__<br>

In [20]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

__2.3__ Сделайте предсказание на тестовых данных и посчитайте ```R2```. Сравните с результатом из предыдущего задания. Напишите в комментариях к коду, какая модель в данном случае работает лучше.

__Решение:__<br>

In [21]:
y_pred_rf = model.predict(X_test)
y_pred_rf

array([22.80641237, 31.13146352, 16.33912494, 23.81072598, 17.13952074,
       21.8322837 , 19.89574701, 14.75411774, 21.2408346 , 20.89865761,
       20.2028696 , 19.95659298,  8.03651316, 21.51673023, 19.36048089,
       25.28222025, 18.82002442,  8.47636459, 45.9477    , 15.50141896,
       24.37448371, 23.98037718, 14.54950214, 23.57447941, 15.05119767,
       15.23703316, 21.59141811, 13.90617333, 19.67698308, 21.0552311 ,
       19.69950085, 23.2483229 , 29.99451024, 20.15961264, 14.39724675,
       16.02131035, 34.26043401, 19.19342625, 21.17764473, 24.22833434,
       18.60497   , 29.57765089, 45.5585    , 19.62038232, 22.575541  ,
       14.0331484 , 15.76855872, 24.50013129, 19.15469322, 28.28791716,
       21.35262285, 33.89102953, 17.67031122, 26.25583284, 45.51992393,
       21.89588357, 15.85210261, 32.38172361, 22.14020328, 20.61773671,
       25.39990971, 33.63617562, 30.10425708, 18.97044937, 27.14227131,
       16.90607   , 13.90610446, 23.10904339, 28.86343833, 15.57345488,
       20.70948699, 28.66437659, 10.37476229, 22.1543881 , 22.26786299,
        6.84962173, 20.03279482, 46.2002    , 11.19665149, 12.39772   ,
       21.66721447, 11.68129804, 20.00054824,  9.31685836, 20.83658519,
       26.82375008, 15.86027649, 23.25939507, 23.79645083, 17.83202266,
       21.80042281,  7.29623119, 19.97472281, 19.28549202, 23.41290204,
       19.87328529, 38.31104592, 11.75977982, 12.5467981 , 12.34709006,
       20.43969467, 23.88524652, 13.44766768, 20.21597173, 20.64942236,
       12.59218246, 19.14518018, 24.83066387, 19.94982081, 23.47920458,
        9.0000831 , 15.15650333, 22.80687099, 25.50230991, 31.74268339,
       14.72469086, 41.6346    , 16.44377713, 19.73225857, 24.2808469 ,
       19.2720131 , 24.12389183,  7.92773071, 20.77273602, 24.74146182,
       21.62099517, 24.00739462, 34.93947359, 16.73029907, 45.0715    ,
       15.02922548, 23.6626488 , 19.63200495, 18.59618182, 14.01791329,
       21.15679194, 20.72393696, 31.66748901, 28.8752    , 17.39805794,
       19.14160527, 25.01781308, 20.24159678, 18.47366357,  6.91224905,
       21.80573318, 16.94101797, 13.52164009, 15.11262111, 42.8087    ,
       15.58610295, 16.07242513])

In [22]:
print(f'Коэффициент детерминации R^2: {mtr.r2_score(y_test, y_pred_rf)}')
#print(f'Cредняя квадратическая ошибка 𝜎: {mtr.mean_squared_error(check_test["y_pred_rf"], check_test["y_test"])}')
#print(f'Cредняя абсолютная ошибка: {mtr.mean_absolute_error(check_test["y_pred_rf"], check_test["y_test"])}')

Коэффициент детерминации R^2: 0.87472606157312

In [23]:
# RandomForest на данных 'Boston House Prices dataset' работает лучше, чем линейная регрессия,
# результат R^2 на отложенной выборке: 0.87 vs 0.71 при использовании LinearRegression.

### $^*$Задание 3<br>
Вызовите документацию для класса ```RandomForestRegressor```, найдите информацию об атрибуте ```feature_importances_```. С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность.

__Решение:__<br>

In [24]:
?RandomForestRegressor

In [25]:
print(np.round(np.sum(model.feature_importances_)))

1.0

In [26]:
print(boston.feature_names, ':', model.feature_importances_)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT'] : [0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

In [27]:
feature_dict = {}
for feature, importance in zip(boston.feature_names, model.feature_importances_):
    feature_dict[feature] = importance
    print(feature, ':', np.round(importance, 4))

CRIM : 0.0317
ZN : 0.0015
INDUS : 0.0071
CHAS : 0.0012
NOX : 0.0143
RM : 0.4027
AGE : 0.0143
DIS : 0.064
RAD : 0.0053
TAX : 0.0115
PTRATIO : 0.0181
B : 0.0125
LSTAT : 0.4158

In [28]:
sorted(feature_dict.items(), key=lambda kv: kv[1], reverse=True)[:2]

[('LSTAT', 0.4158473181914483), ('RM', 0.4026817857034993)]

__Ответ:__ Наибольшую важность показывают признаки ```LSAT``` и ```RM```.

### $^*$Задание 4<br>
__4.1__ ВВ этом задании мы будем работать с датасетом, с которым мы уже знакомы по домашнему заданию по библиотеке ```Matplotlib```, это датасет ```Credit Card Fraud Detection```.

Для этого датасета мы будем решать задачу классификации - будем определять, какие из транзакциции по кредитной карте являются мошенническими.

Данный датасет сильно несбалансирован (так как случаи мошенничества относительно редки), так что применение метрики accuracy не принесет пользы и не поможет выбрать лучшую модель. Мы будем вычислять AUC, то есть площадь под кривой ROC.

Импортируйте из соответствующих модулей ```RandomForestClassifier```, ```GridSearchCV``` и ```train_test_split```.

Загрузите датасет creditcard.csv и создайте датафрейм ```df```. С помощью метода ```value_counts``` с аргументом ```normalize=True``` убедитесь в том, что выборка несбалансирована. Используя метод ```info```, проверьте, все ли столбцы содержат числовые данные и нет ли в них пропусков.

Примените следующую настройку, чтобы можно было просматритвать все столбцы датафрейма: ```pd.options.display.max_columns = 100```.

Просмотрите первые 10 строк датафрейма ```df```.

__Решение:__<br>

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [30]:
df = pd.read_csv('creditcard.csv', encoding='utf-8')

In [31]:
df['Class'].value_counts(normalize=True)

0    0.998273
1    0.001727
Name: Class, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Все столбцы числовые, пропусков нет

In [33]:
pd.options.display.max_columns = 100
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,0.359894,-0.358091,-0.137134,0.517617,0.401726,-0.058133,0.068653,-0.033194,0.084968,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,-1.416907,-0.153826,-0.751063,0.167372,0.050144,-0.443587,0.002821,-0.611987,-0.045575,-0.219633,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,0.291474,1.757964,-1.323865,0.686133,-0.076127,-1.222127,-0.358222,0.324505,-0.156742,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,-0.110452,-0.286254,0.074355,-0.328783,-0.210077,-0.499768,0.118765,0.570328,0.052736,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,1.017614,0.836390,1.006844,-0.443523,0.150219,0.739453,-0.540980,0.476677,0.451773,0.203711,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

__4.2__ Создайте датафрейм ```X``` из датафрейма ```df```, исключив столбец ```Class```.
Создайте объект ```Series``` под названием ```y``` из столбца ```Class```.

__Решение:__<br>

In [34]:
X = df.drop('Class', axis=1)
y = df['Class']
print(f'Type of X: {type(X)}\nType of y: {type(y)}')

Type of X: <class 'pandas.core.frame.DataFrame'>
Type of y: <class 'pandas.core.series.Series'>

__4.3__ Разбейте ```X``` и ```y``` на тренировочный и тестовый наборы данных при помощи функции ```train_test_split```, используя аргументы: ```test_size=0.3, random_state=100, stratify=y```.
У вас должны получиться объекты ```X_train```, ```X_test```, ```y_train``` и ```y_test```.
Просмотрите информацию о их форме.

__Решение:__<br>

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=100)
print(f'X_train.shape: {X_train.shape}; y_train.shape: {y_train.shape}')
print(f'X_test.shape: {X_test.shape}; y_test.shape: {y_test.shape}')

X_train.shape: (199364, 30); y_train.shape: (199364,)
X_test.shape: (85443, 30); y_test.shape: (85443,)

__4.4__ Для поиска по сетке параметров задайте такие параметры:
```parameters = [{'n_estimators': [10, 15], 'max_features': np.arange(3, 5), 'max_depth': np.arange(4, 7)}]```.
Создайте модель ```GridSearchCV``` со следующими аргументами:
```estimator=RandomForestClassifier(random_state=100), param_grid=parameters, scoring='roc_auc', cv=3```.

__Решение:__<br>

In [36]:
parameters = [{'n_estimators': [10, 15],
               'max_features': np.arange(3, 5),
               'max_depth': np.arange(4, 7)}]
grid = GridSearchCV(estimator=RandomForestClassifier(random_state=100),
                    param_grid=parameters,
                    scoring='roc_auc',
                    cv=3)

__4.5__ Обучите модель на тренировочном наборе данных (может занять несколько минут).

__Решение:__<br>

In [37]:
%%time
grid.fit(X_train, y_train)

Wall time: 1min 48s

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=100),
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             scoring='roc_auc')

__4.6__ Просмотрите параметры лучшей модели с помощью атрибута ```best_params_```.

__Решение:__<br>

In [38]:
print(grid.best_params_)

{'max_depth': 6, 'max_features': 3, 'n_estimators': 15}

__4.7__ Предскажите вероятности классов с помощью полученнной модели и метода predict_proba.
Из полученного результата (массив Numpy) выберите столбец с индексом 1 (вероятность класса 1) и запишите в массив ```y_pred_proba```.

__Решение:__<br>

In [39]:
y_pred_proba = grid.predict_proba(X_test)[:, 1]

__4.8__ Из модуля ```sklearn.metrics``` импортируйте метрику ```roc_auc_score```. Вычислите AUC на тестовых данных и сравните с результатом,
полученным на тренировочных данных, используя в качестве аргументов массивы ```y_test``` и ```y_pred_proba```.

__Решение:__<br>

In [40]:
# [import sklearn.metrics as mtr] in cell#3
print(f'AUC тренировочная выборка: {mtr.roc_auc_score(y_train, grid.predict_proba(X_train)[:, 1])}')
print(f'AUC тестовая выборка: {mtr.roc_auc_score(y_test, y_pred_proba)}')

AUC тренировочная выборка: 0.9703527882554751
AUC тестовая выборка: 0.9462664156037156

__Ответ:__ AUC на тренировочной выборке больше чем на тестовой, следовательно присутствует переобученность модели.

### $^{*}$Дополнительные задания:<br>
__1)__ Загрузите датасет ```Wine``` из встроенных датасетов ```klearn.datasets``` с помощью функции ```load_wine``` в переменную ```data```.

__Решение:__<br>

In [41]:
from sklearn.datasets import load_wine
data = load_wine()

__2)__ Полученный датасет не является датафреймом. Это структура данных, имеющая ключи аналогично словарю. Просмотрите тип данных этой структуры данных и создайте список ```data_keys```, содержащий ее ключи.

__Решение:__<br>

In [42]:
print(type(data))

<class 'sklearn.utils.Bunch'>

In [43]:
data_keys = data.keys()
print(data_keys)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

__3)__ Просмотрите данные, описание и названия признаков в датасете. Описание нужно вывести в виде привычного, аккуратно оформленного текста, без обозначений переноса строки, но с самими переносами и т.д.

__Решение:__<br>

In [44]:
print(data['data'].shape)

(178, 13)

In [45]:
print(data['feature_names'])

['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']

In [46]:
print(data['DESCR'])

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

__4)__ Сколько классов содержит целевая переменная датасета? Выведите названия классов.

__Решение:__<br>

In [47]:
print(np.unique(data['target']))

[0 1 2]

Целевая переменная содержит 3 класса

In [48]:
print(data['target_names'])

['class_0' 'class_1' 'class_2']

__5)__ На основе данных датасета (они содержатся в двумерном массиве Numpy) и названий признаков создайте датафрейм под названием ```X```.

__Решение:__<br>

In [49]:
X = pd.DataFrame(data['data'], columns=data['feature_names'])
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [50]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

__6)__ Выясните размер датафрейма X и установите, имеются ли в нем пропущенные значения.

__Решение:__<br>

In [51]:
print(X.shape)

(178, 13)

In [52]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
dtypes: float64(13)
memory usage: 18.2 KB

In [53]:
print(X.isna().any())

alcohol                         False
malic_acid                      False
ash                             False
alcalinity_of_ash               False
magnesium                       False
total_phenols                   False
flavanoids                      False
nonflavanoid_phenols            False
proanthocyanins                 False
color_intensity                 False
hue                             False
od280/od315_of_diluted_wines    False
proline                         False
dtype: bool

__Ответ:__ Пропущенных значений в датафрейме X нет

__7)__  Добавьте в датафрейм поле с классами вин в виде чисел, имеющих тип данных ```numpy.int64```. Название поля - ```'target'```.

__Решение:__<br>

In [54]:
X['target'] = np.int64(data['target'])
X['target'].value_counts()

1    71
0    59
2    48
Name: target, dtype: int64

In [55]:
print(type(X['target'].values[0]))

<class 'numpy.int64'>

__8)__ Постройте матрицу корреляций для всех полей ```X```. Дайте полученному датафрейму название ```X_corr```.

__Решение:__<br>

In [56]:
X_corr = X.corr()
X_corr.head(10)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
alcohol,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720,-0.328222
malic_acid,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011,0.437776
ash,0.211545,0.164045,1.000000,0.443367,0.286587,0.128980,0.115077,0.186230,0.009652,0.258887,-0.074667,0.003911,0.223626,-0.049643
alcalinity_of_ash,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597,0.517859
magnesium,0.270798,-0.054575,0.286587,-0.083333,1.000000,0.214401,0.195784,-0.256294,0.236441,0.199950,0.055398,0.066004,0.393351,-0.209179
total_phenols,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115,-0.719163
flavanoids,0.236815,-0.411007,0.115077,-0.351370,0.195784,0.864564,1.000000,-0.537900,0.652692,-0.172379,0.543479,0.787194,0.494193,-0.847498
nonflavanoid_phenols,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385,0.489109
proanthocyanins,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417,-0.499130
color_intensity,0.546364,0.248985,0.258887,0.018732,0.199950,-0.055136,-0.172379,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.316100,0.265668

__9)__  Создайте список ```high_corr``` из признаков, корреляция которых с полем ```target``` по абсолютному значению превышает 0.5 (причем, само поле ```target``` не должно входить в этот список).

__Решение:__<br>

In [57]:
#high_corr = list(X_corr['target'][:-1][X_corr['target'][:-1] > np.abs(0.5)].index)
#print(high_corr)

In [67]:
high_corr = X_corr.target
high_corr = high_corr.sort_values()
high_corr = high_corr[high_corr.abs() > 0.5]

__10)__ Удалите из датафрейма ```X``` поле с целевой переменной. Для всех признаков, названия которых содержатся в списке ```high_corr```, вычислите квадрат их значений и добавьте в датафрейм ```X``` соответствующие поля с суффиксом ```'_2'```, добавленного к первоначальному названию признака. Итоговый датафрейм должен содержать все поля, которые, были в нем изначально, а также поля с признаками из списка ```high_corr```, возведенными в квадрат. Выведите описание полей датафрейма ```X``` с помощью метода ```describe```.

__Решение:__<br>

In [ ]:
#%%time
#X.drop('target', axis=1, inplace=True)

#for feature in high_corr:
#    X[str(feature)+'^2'] = X[feature] ** 2

$\mathbf{\color{red}{UPD}}\mathrm{\color{red}{\;by\;Nikita\;Varganov}}$

Михаил, добрый день. В финальном задании, вы конструируете квадраты признаков через циклы, циклы и ```pandas.DataFrame``` работают очень медленно, это антипаттерн. Можно сделать так:

```python
squared_features = X[high_corr.index]**2
squared_features = pd.DataFrame(squared_features)
squared_features.columns=[f"{col}_2" for col in high_corr.index]
X = pd.concat([X, squared_features], axis=1)
```

In [68]:
%%time
squared_features = X[high_corr.index]**2
squared_features = pd.DataFrame(squared_features)
squared_features.columns=[f"{col}_2" for col in high_corr.index]
X = pd.concat([X, squared_features], axis=1)

Wall time: 10.5 ms

In [69]:
X.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'target', 'flavanoids_2',
       'od280/od315_of_diluted_wines_2', 'total_phenols_2', 'proline_2',
       'hue_2', 'alcalinity_of_ash_2', 'target_2'],
      dtype='object')

In [70]:
X.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,flavanoids_2,od280/od315_of_diluted_wines_2,total_phenols_2,proline_2,hue_2,alcalinity_of_ash_2,target_2
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,1.780000e+02,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202,5.110049,7.322155,5.657030,6.564591e+05,0.968661,391.142865,1.477528
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035,4.211441,3.584316,2.936294,5.558591e+05,0.443798,133.671775,1.595208
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000,0.115600,1.612900,0.960400,7.728400e+04,0.230400,112.360000,0.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000,1.452100,3.754075,3.036325,2.505010e+05,0.612325,295.840000,0.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000,4.558250,7.728400,5.546050,4.536045e+05,0.931250,380.250000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000,8.265700,10.048900,7.840000,9.702250e+05,1.254400,462.250000,4.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000,25.806400,16.000000,15.054400,2.822400e+06,2.924100,900.000000,4.000000